@font-face {
  font-family: "iconfont"; /* Project id 4810372 */
  src: url('iconfont.woff2?t=1736775847228') format('woff2'),
       url('iconfont.woff?t=1736775847228') format('woff'),
       url('iconfont.ttf?t=1736775847228') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-tuichu:before {
  content: "\e645";
}

.icon-reload:before {
  content: "\e788";
}

.icon-setting:before {
  content: "\e78e";
}

.icon-file-unknown:before {
  content: "\e7b9";
}

.icon-lianggeren:before {
  content: "\e600";
}

.icon-tianxie:before {
  content: "\ec88";
}

.icon-lock:before {
  content: "\e73c";
}

.icon-menu-unfold:before {
  content: "\e73e";
}

.icon-user:before {
  content: "\e605";
}

.icon-column-height:before {
  content: "\e659";
}

.icon-snippets:before {
  content: "\e66e";
}

.icon-crown:before {
  content: "\eacc";
}

